[
    {
        "model": "Qwen/Qwen3-235B-A22B",
        "api_key": "",
        "base_url": "https://api.siliconflow.cn/v1",
        "api_type": "openai"
    }
    ,
    {
        "model": "Qwen/Qwen3-8B",
        "api_key": "",
        "base_url": "https://api.siliconflow.cn/v1",
        "api_type": "openai"
    }
    ,
    {
        "model": "Qwen/Qwen3-32B",
        "api_key": "",
        "base_url": "https://api.siliconflow.cn/v1",
        "api_type": "openai"
    }
]